# Arquivos do Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Variáveis de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Cobertura de testes
coverage/
.nyc_output/

# Builds e pastas de output
dist/
build/
.out/
.next/

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operacional
.DS_Store
Thumbs.db